@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgb(40, 45, 45);
    padding: 80px 0 0 0;
}

header {
    margin: auto;
    width: 100%;
    height: 80px;
    position: fixed;
    padding: 22px;
    top: 0;
    left: 0;
    background-color: rgb(40, 45, 45);
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    color: fuchsia;
}

button {
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    background-color: aquamarine;
    border: 3px solid aquamarine;
    box-shadow: 0px 1px 2px aqua;
    border-radius: 4px;
    text-align: center;
    white-space: nowrap;
    color: fuchsia;
    font-size: 16px;
    font-weight: 500;
    box-shadow: none;
    cursor: pointer;
}

.nav {
    position: relative;
    margin: auto;
    width: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    background-color: rgb(40, 45, 45);
}

.container {
    width: 100%;
    float: left;
    padding: 15px;
}

ul.cards {
    width: 100%;
    float: left;
}

ul.cards li {
    width: 100%;
    min-height: 120px;
    float: left;
    position: relative;
    font-size: 14px;
    font-weight: 500;
    color: #444;
    line-height: 22px;
    background: indigo;
    border-radius: 5px;
    box-shadow: 0px 1px 2px rgba (44, 62, 80, 0.10);
    margin-bottom: 20px;
    padding: 14px 14px 14px 14px;
}

ul.cards li div.card_content .title {
    margin: auto;
    padding-bottom: 32px;
}

ul.cards li div.card_content .title .name {
    float: left;
    color: greenyellow;
}

ul.cards li div.card_content .title a i {
    float: right;
    color: greenyellow;
    font-size: 20px;
    font-weight: 500;
}

ul.cards li div.card_content .info {
    margin: auto;
}

ul.cards li div.card_content .info img {
    float: left;
    width: auto;
    height: 100px;
    border: 5px solid fuchsia;
}

ul.cards li div.card_content .info .facts {
    margin: auto;
    width: auto;
    float: right;
    color: fuchsia;
}

ul.cards li div.card_content .info .facts span {
    margin: none;
    padding-bottom: 5px;
    width: 100%;
    display: inline-block;
}

ul.cards li div.card_content .info .facts span pre {
    float: left;
    color: aquamarine;
}

ul.cards li div.card_content .info .facts span p {
    float: left;
    color: fuchsia;
}